.card-professional-experience {
    border: 1px solid #bfbfbf;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    display: grid;
    gap: 10px;
}

.professional-experience-container{
    display: grid;
    gap: 30px;
    margin-top: 30px;
}

.work-description{

}